<% if @question.errors.any? %>
  <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class = "form-group">
	<%= f.label :topic, "Questions, Troubles and Topics you want to discuss" %>
</div>

<div> 
	<%= f.text_field :topic , :class => "form-control" %>
</div>

<div class ="form-group">
	<% @categories.each do |g| %>
		<%= check_box_tag "question[category_ids][]", g.id, @question.categories.map(&:id).include?(g.id) %> <%= g.kind %>
	<% end %>
	<%= hidden_field_tag 'question[category_ids][]','' %>
</div>	

<% if @question.tags %>
	<div class="form-group">
		<% @question.tags.each do |tag| %>
			#<%= tag.name %>
		<% end %>
	</div>	
<% end %>

<div class ="form-group">
		<%= f.text_field :point ,:placeholder => "Add tags here... " , :class => "form-control" %>
</div>

<div>
	<%= f.file_field :photo %>
	<% if @question.photo.exists? %>
		<%= label_tag :_remove_file%>
		<%= check_box_tag :_remove_file %>
	<% end %>
</div>

<div class = "form-group">
	<%= f.label :description%>
  	<%= f.cktext_area :description , value: "Some backgrouond information about it... ",ckeditor: { language: 'us'} %>
</div>


