<h5><%= link_to "About Us" , about_questions_path , :class=> "pull-right" %></h5>
<h5><%= link_to "Profile page" , profile_users_path , :class=> "pull-right" %></h5>
<h2><%= @question.topic %></h2>

<table class = "table">
	<tr>
		<td width = 80%>
			<p><%= simple_format(@question.description) %></p>
		</td>
		<% if current_user == @question.user ||  current_user.admin? %>
		<td>
				<%= link_to 'Edit', edit_question_path(@question) , :class => "btn btn-primary" %>		
		</td>
		<td>
			<%= link_to 'Delete', question_path(@question), :method => :delete, :data => {:confirm => "Are you sure you want to erase your thoughts? "} ,:class => "btn btn-danger" %>
		</td>	
		<% end %>		
	</tr>	
	<tr>
		<td>
			<p>Category: <% @question.categories.each do |g| %>
				<%= g.kind %>
				<% end %></p>
		</td>
		<td>
			<% if @question.photo.exists? %>
				<div>
					<%= image_tag @question.photo.url %>
				</div>
			<%end%>
		</td>
	</tr>
</table>

<% @question.tags.each do |tag| %>
	#<%= tag.name %>
<% end %>

<%= form_for @tag , :url => tags_path(@tag, :question_id => @question)  do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Create" %>
<% end %>

<div id="like_button">
	<%= render "like" %>
		<% @question.liked_users.each do |user| %>
		<%= link_to user.nickname ,user_profile_users_path(:id => user)  %>
	<% end %>
</div>

<div id="subscribe_button">
	<%= render "subscribe" %>
</div>


<ul>
<% @answers.each do |answer| %>
	<li>
	  <%= answer.content %> 
  	Answers from: <%= answer.user.nickname %>
  	<% if current_user == answer.user ||  current_user.admin? %>	
	  	<%# TODO Move edit to this page %>
			<%= link_to 'edit', edit_question_answer_path(@question, answer) %>
			<%= link_to 'delete', question_answer_path(@question, answer), :method => :delete%>
		<% end %>
		<% if answer.photo.exists? %>
			<div>
				<%= image_tag answer.photo.url %>
			</div>
		<%end%>
	</li>
<% end %>
<%= form_for [@question, @answer] do |f| %>
  <%= f.text_field :content %>
  <div>
		<%= f.file_field :photo %>
		<% if @answer.photo.exists? %>
			<%= label_tag :_remove_file%>
			<%= check_box_tag :_remove_file %>
		<% end %>
	</div>
	<% f.hidden_field :answers_count , :value => @question.answers.count %> 
  <%= f.submit %>
<% end %>
</ul>

<p><%= link_to 'Back to Index' , questions_path , :class => "btn btn-default" %></p>