<h5><%= link_to "About Us" , about_questions_path , :class=> "pull-right" %></h5>
<h5><%= link_to "Profile page" , profile_users_path , :class=> "pull-right" %></h5>

<div class="container">
	<h2>Hello! <%= @user.email %></h2>

	<%= link_to "Back To List" , questions_path , :class => "btn btn-primary pull-right" %>
	<div class="clearfix"></div>

	<%= form_for @user , :url => user_path(@user) do |f| %>
		<div class="form-group">
			<%= f.label :nickname , "NickName : " %>
			<%= f.text_field :nickname %>
		</div>
		<p>You had <%= @user.questions.count %> Questions</p>
		
		<p>You already reply <%= @user.answers.count %> answers</p>
		<%= f.submit :class => "btn btn-success pull-right" %>
	<% end %>

	<table class ="table">
		<tr class="sort">
			<th width = 30% >Question You Asked</th>
			<th width = 70% >Description</th>
		</tr>	
		<% @questions.each do |question| %>
		<tr>
			<td width = 30% ><%= link_to question.topic , question_path(question) %></td>	
			<td width = 70% ><%= link_to question.description , question_path(question) %></td>			
		</tr>	
		<% end %>
	</table>
	
	<table class ="table">
		<tr class="sort">
			<th >Answers you replied</th>
			<th >For Question you replied</th>
		</tr>	
		<% @answers.each do |answer| %>
		<tr>
			<td><%= answer.content  %></td>	
			<td><%= answer.question.try(:topic) %></td>	
		</tr>	
		<% end %>
	</table>

	