<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "Questions DataBank" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/navbar-fixed-side.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <script src="//cdn.ckeditor.com/4.6.0/standard/ckeditor.js"></script>
  </head>

  <body>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"><h1>Got Doubts? What is your Question?</h1></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000/questions">Compass</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left ">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Ask or Search questions here">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About Us" , about_questions_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <% if current_user %>
                <%= link_to('登出', destroy_user_session_path, :method => :delete) %> 
                <%= link_to('修改密碼', edit_registration_path(:user)) %>
              <% else %>
                <%= link_to('註冊', new_registration_path(:user)) %> 
                <%= link_to('登入', new_session_path(:user)) %>
                <%= link_to "登入 Facebook", user_facebook_omniauth_authorize_path %>
              <% end %>
            </li>
            <li><%= link_to "Profile page" , profile_users_path  %></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <% if current_user && current_user.admin? %>
              <li><%= link_to "admin", admin_questions_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=478868778950364";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class = container>
      <div class = row>
        <div class="col-md-12">
          <h3>Admin Interface</h3>
          <% if flash[:notice].present? %>
            <div class="alert alert-success" role = "alert"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:alert].present? %>
            <div class="alert alert-danger" role = "alert"><%= flash[:alert] %></div>
          <% end %> 
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
